/* Reset */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Debug */
.debug {
  border: 3px solid black;
  width: 20px;
  height: 20px;
}

/* Header */
header > div {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.ps-logo {
  height: 30px;
  width: 85px;
}

header figure {
  margin: 0 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.login {
  background-color: #363636;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  border: none;
}

.login > a {
  color: white;
}

.search > img {
  height: 25px;
  width: 25px;
}

.navbar-right > ul {
  margin: 0 10px 0;
  padding: 0;
}

[class|="navbar"] {
  font-weight: 700;
}

/* Returnal section */
#returnal {
  min-height: 75vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url(../img/jumbo-bg.png);
}

.returnal {
  height: 50px;
  width: 300px;
  position: absolute;
  top: 225px;
}

h1,
.p-returnal {
  color: white;
}

#returnal > .container {
  display: flex;
  align-items: end;
  height: 75vh;
}

.buy-now {
  background-color: #bd4825;
  border-radius: 20px;
  color: white;
  width: 120px;
  height: 40px;
  margin-bottom: 40px;
  border: none;
}

h1 + p {
  margin-top: 30px;
  font-weight: 600;
}

h1 {
  font-weight: 400;
}

/* Grid */
.card1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Play 5 section */
.text-primary {
  margin: 70px 0 0;
}

.play-5 {
  width: 100%;
  height: 100%;
}

.more-info {
  background-color: #3b63de;
  border-radius: 15px;
  color: white;
  border: none;
  width: 180px;
  height: 35px;
}

/* Odd elements grid */
#odd-element-grid img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.container.accessories {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

/* ITT section */

#itt-game {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  min-height: 75vh;
  position: relative;
  background-position: center;
  background-size: cover;
}

.itt {
  position: absolute;
  top: 30px;
  height: 160px;
  width: 240px;
}

#itt-game > .container {
  height: 75vh;
  display: flex;
  align-items: end;
}

.p-itt {
  color: white;
}

.buy-now > a {
  color: white;
}
/* New Games section */
#new-games {
  background-color: #1f1f1f;
  color: white;
  padding-bottom: 90px;
}

.card2 {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  object-fit: scale-down;
}

/* Play 4 section */
.card3 {
  height: 50%;
  width: 100%;
  object-fit: contain;
}

.discover-more {
  border: none;
  background-color: #3b63de;
  width: 130px;
  height: 40px;
  border-radius: 20px;
}

#ps-4 {
  margin-bottom: 130px;
}

/* PS Plus section */
#ps-plus {
  background-color: #bebcbb;
}

.ps-plus {
  width: 250px;
  height: 50px;
  margin-top: 40px;
}

.explore {
  background-color: #d9dadc;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.explore > a {
  color: #5173de;
}

.games {
  height: 100%;
  width: 100%;
}

/* Discount section */
#discount img {
  width: 100%;
  height: 100%;
}

#discount {
  margin-bottom: 100px;
}

/* PS Now section */
#ps-now {
  background-color: #171c39;
  margin-bottom: 70px;
}

.explore-now > a {
  color: black;
}

.explore-now {
  background-color: #f5f5f5;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

/* Social section */
#social img {
  width: 80%;
  height: 90%;
  border-radius: 30px;
}

#social {
  margin-bottom: 40px;
}

.row.g-3.w-75 {
  margin: 0 auto;
}

/* Footer */
#page-footer {
  background-color: #194296;
  padding-top: 40px;
}

.globe {
  height: 20px;
  width: 20px;
}

.ps-logo-white {
  width: 70px;
  height: 70px;
}

#page-footer a {
  display: block;
  padding: 10px 0 0 15px;
}

.sie {
  height: 50px;
  width: 140px;
}

.sie + p {
  color: white;
}

/* Media Query */
@media all and (min-width: 992px) {
  .wrap {
    width: calc(100% / 3);
  }
}

@media all and (min-width: 992px) {
  .wrap-itt {
    width: calc(100% / 3);
  }
}
