/* Reset */

ul {
  list-style: none;
}

/* Debug */
.debug {
  border: 3px solid black;
  width: 200px;
  height: 200px;
}

/* Header */
header > div {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.ps-logo {
  height: 30px;
  width: 85px;
}

header figure {
  margin: 0 10px;
}

/* Returnal section */
#returnal {
  height: 75vh;
  position: relative;
  overflow: hidden;
  background-image: url(../img/jumbo-bg.png);
}

.returnal {
  height: 50px;
  width: 300px;
  position: absolute;
  top: 255px;
}

#returnal h1,
p {
  color: white;
}

#returnal > .container {
  display: flex;
  align-items: end;
  height: 100%;
}

.wrap {
}

.buy-now {
  background-color: #bd4825;
  border-radius: 20px;
  color: white;
  width: 120px;
  height: 40px;
  margin-bottom: 40px;
}

h1 + p {
  margin-top: 30px;
  font-weight: 600;
}

h1 {
  font-weight: 400;
}

/* Grid */
.card1,
.card2 {
  width: 230px;
  height: 140px;
  border-radius: 20px;
}
