/* Reset */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Debug */
.debug {
  border: 3px solid black;
  width: 200px;
  height: 200px;
}

/* Header */
header > div {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.ps-logo {
  height: 30px;
  width: 85px;
}

header figure {
  margin: 0 10px;
}

/* Returnal section */
#returnal {
  height: 75vh;
  position: relative;
  overflow: hidden;
  background-image: url(../img/jumbo-bg.png);
}

.returnal {
  height: 50px;
  width: 300px;
  position: absolute;
  top: 255px;
}

h1,
.p-returnal {
  color: white;
}

#returnal > .container {
  display: flex;
  align-items: end;
  height: 100%;
}

.buy-now {
  background-color: #bd4825;
  border-radius: 20px;
  color: white;
  width: 120px;
  height: 40px;
  margin-bottom: 40px;
  border: none;
}

h1 + p {
  margin-top: 30px;
  font-weight: 600;
}

h1 {
  font-weight: 400;
}

/* Grid */
.card1 {
  width: 200px;
  height: 100px;
  border-radius: 20px;
}

/* Play 5 section */
.text-primary {
  margin: 70px 0 0;
}

.play-5 {
  width: 100%;
  height: 100%;
}

.more-info {
  background-color: #3b63de;
  border-radius: 15px;
  color: white;
  border: none;
  width: 180px;
  height: 35px;
}

/* Odd elements grid */
#odd-element-grid img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.container.accessories {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

/* ITT section */

#itt-game {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  height: 70vh;
  position: relative;
}

.itt {
  position: absolute;
  top: 30px;
  height: 200px;
  width: 300px;
}

#itt-game > .container {
  height: 100%;
  display: flex;
  align-items: end;
}

.p-itt {
  color: white;
}
